<!--{{ \xn_debug_info() }}-->
</div></main></div></div>
<!-- bootstrap -->
<script type="text/javascript" src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="https://cdn.bootcdn.net/ajax/libs/perfect-scrollbar/1.5.6/perfect-scrollbar.min.js"></script>
<script type="text/javascript" src="https://cdn.bootcdn.net/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>
<script type="text/javascript" src="{{ route_admin::site('view/js/main.min.js') }}"></script>
<!--{hook admin_footer_footer_after.htm}-->
<!--{hook admin_footer_js_before.htm}-->
<script type="text/javascript" src="{{ \plugin::parseJS(MyApp::data('path')['i18n'].'bbs.js','lang_bbs') }}{{ MyApp::conf('static_version') }}"></script>
<script type="text/javascript" src="{{ \MyApp::view_site('js/xiuno.js'.MyApp::conf('static_version')) }}"></script>
<script type="text/javascript" src="{{ \MyApp::view_site('js/bootstrap-plugin.js'.MyApp::conf('static_version')) }}"></script>
<!--{hook admin_footer_js_after.htm}-->
<script type="module">
	import X from "{{ MyApp::view_site('js/common.js') }}{{ MyApp::conf('static_version') }}";
	/** 额外js{if !empty($importjs)}{each $importjs $js} **/
	import "{{ $js }}";
	/** {/each}{/if} **/
	X.rewrite = "{{ MyApp::conf('url_rewrite_on') }}";
	X.admin_jsroot = "{{ route_admin::site('view/js/') }}";
	X.webroot = "{{ APP_SITE }}";
	X.i18n = "{{ MyApp::conf('lang') }}";
	/* 定义资源目录地址 */
	X.viewroot = "{{ MyApp::data('site')['view'] }}";
	X.toEvent(new CustomEvent('ready'));
</script>
</body>
</html>