<!DOCTYPE html>
<html lang="zh">

  <head>
    <!--{hook admin_header_meta_before.htm}-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title><!--{{ title }}--></title>
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <link rel="stylesheet" type="text/css" href="https://cdn.bootcdn.net/ajax/libs/MaterialDesign-Webfont/7.4.47/css/materialdesignicons.min.css">
    <!--{hook admin_header_bootstrap_before.htm}-->
    <link rel="stylesheet" type="text/css" href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.3.3/css/bootstrap.min.css" />
    <!--{hook admin_header_admin_css_before.htm}-->
    <link rel="stylesheet" type="text/css" href="{{ \route_admin::site('view/css/style.min.css') }}" />
    <!--{{ \route_admin::scss('admin') }}-->
    <!--{hook admin_header_admin_css_after.htm}-->
    <!--{hook admin_header_css_after.htm}-->
    <!-- jQuery提前加载JQ -->
    <script type="text/javascript" src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  </head>

  <body>
    <div class="lyear-layout-web">
      <div class="lyear-layout-container">
        <!--{if !empty(MyApp::cookies('admin_token'))}-->
        <!--左侧导航-->
        <aside class="lyear-layout-sidebar">
          <!-- logo -->
          <div class="sidebar-header">
            <div>
              <span><!--{lang admin_index_page}--></span>
            </div>
          </div>
          <div class="lyear-layout-sidebar-info lyear-scroll">
            <nav class="sidebar-main">
              <ul class="nav-drawer">
                <!--{each MyApp::data('menus') $k $v}-->
                <li class="nav-item nav-item-has-subnav{if MyApp::value('module') == $k} active open{/if}"><!--{if !empty($v['tab'])}--><a href="#"><i class="{if empty($v['icon'])}mdi mdi-card-account-details{else}{{ $v['icon'] }}{/if}"></i><span><!--{{ $v['text'] }}--></span>
                  </a>
                  <ul class="nav nav-subnav"><!--{each $v['tab'] $x $y}-->
                    <li class="{if MyApp::value(0,'index') == $x}active{/if}"><!--{if !empty($y['img'])}--><img class="plugin-icon" src="{{ $y['img'] }}"><!--{/if}-->
                      <a href="{{ $y['url'] }}" class="icon-{{  $k }}-{{ $x }}"><!--{{ $y['text'] }}--></a>
                    </li><!--{/each}-->
                  </ul><!--{else}-->
                  <a href="{{ $v['url'] }}">
                    <i class="{if empty($v['icon'])}mdi mdi-card-account-details{else}{{ $v['icon'] }}{/if}"></i>
                    <span><!--{{ $v['text'] }}--></span></a><!--{/if}-->
                </li><!--{/each}-->
                <!--{each plugin::get_data('plugin_data') $k $v}-->
                <!--{if !empty($v['enable'])&&!empty($v['installed'])}-->
                <li class="nav-item">
                  <a href="{{ MyApp::url('plugin/'.$k) }}">
                    <i class="mdi"><img class="plugin-icon" src="{{ plugin::site($k . '/icon.png') }}"></i>
                    <span><!--{{ $v['name'] }}--></span>
                  </a>
                </li>
                <!--{/if}-->
                <!--{/each}-->
              </ul>
            </nav>
            <div class="sidebar-footer">
              <p class="copyright text-center">
                <span>模板来源</span>
                <a target="_blank" href="http://www.bixiaguangnian.com">笔下光年</a>
                <img src="{{ \route_admin::site('view/img/qqgroup.webp') }}" width="100%">
              </p>
            </div>
          </div>
        </aside>
        <!--End 左侧导航-->
        <!--头部信息-->
        <header class="lyear-layout-header">
          <nav class="navbar">
            <div class="nav align-items-center navbar-left">
              <div class="nav-item lyear-aside-toggler">
                <span class="lyear-toggler-bar"></span>
                <span class="lyear-toggler-bar"></span>
                <span class="lyear-toggler-bar"></span>
              </div>
              <ul class="nav align-items-center nav-item">
                <li class="nav-item">
                  <a href="{{ \MyApp::url('setting/clear') }}"><!--{lang admin_other_cache}--></a>
                </li>
              </ul>
            </div>
            <ul class="navbar-right d-flex align-items-center">
              <!--切换主题配色-->
              <li class="dropdown dropdown-skin">
                <span data-bs-toggle="dropdown" class="icon-item">
                  <i class="mdi mdi-palette fs-5"></i>
                </span>
                <ul class="dropdown-menu dropdown-menu-end" data-stopPropagation="true">
                  <li class="lyear-skin-title">
                    <p>主题</p>
                  </li>
                  <li class="lyear-skin-li clearfix">
                    <!--{for($i=1;$i<9;$i++)}-->
                    <div class="form-check form-check-inline"><!--{{ \model\tpl::radio('site_theme',$i==1?'default':'color_'.$i,'&nbsp;',$i==1?'checked':'','site_theme_'.$i) }}--></div><!--{/for}-->
                  </li>
                  <li class="lyear-skin-title">
                    <p>LOGO</p>
                  </li>
                  <li class="lyear-skin-li clearfix">
                    <!--{for($i=1;$i<9;$i++)}-->
                    <div class="form-check form-check-inline"><!--{{ \model\tpl::radio('logo_bg',$i==1?'default':'color_'.$i,'&nbsp;',$i==1?'checked':'','logo_bg_'.$i) }}--></div><!--{/for}-->
                  </li>
                  <li class="lyear-skin-title">
                    <p>头部</p>
                  </li>
                  <li class="lyear-skin-li clearfix">
                    <!--{for($i=1;$i<9;$i++)}-->
                    <div class="form-check form-check-inline"><!--{{ \model\tpl::radio('header_bg',$i==1?'default':'color_'.$i,'&nbsp;',$i==1?'checked':'','header_bg_'.$i) }}--></div><!--{/for}-->
                  </li>
                  <li class="lyear-skin-title">
                    <p>侧边栏</p>
                  </li>
                  <li class="lyear-skin-li clearfix">
                    <!--{for($i=1;$i<9;$i++)}-->
                    <div class="form-check form-check-inline">
                      <!--{{ \model\tpl::radio('sidebar_bg',$i==1?'default':'color_'.$i,'&nbsp;',$i==1?'checked':'','sidebar_bg_'.$i) }}-->
                    </div>
                    <!--{/for}-->
                  </li>
                </ul>
              </li>
              <!--End 切换主题配色-->
              <!--{if !empty($user)}-->
              <li class="dropdown">
                <a href="{{ \MyApp::topurl('my') }}">
                  <img class="avatar-sm rounded-circle" src="{{ $user['avatar_url'] }}">
                  <span><!--{{ $user['username'] }}--></span>
                </a>
              </li>
              <!--{/if}-->
              <li>
                <a href="{{ \MyApp::url('index/logout') }}">
                  <i class="mdi-logout-variant"></i>
                  <span><!--{lang logout}--></span>
                </a>
              </li>
              <li>
                <a href="{{ \MyApp::topurl() }}">
                  <i class="mdi-home"></i>
                  <span><!--{lang front_index_page}--></span>
                </a>
              </li>
            </ul>
          </nav>
        </header>
        <!--End 头部信息-->
        <!--{/if}-->
        <main class="lyear-layout-content">
          <div class="container-fluid">