<?php include _include(ADMIN_PATH . 'view/htm/header.inc.htm'); ?>

<div class="row">
	<div class="col-12">
		<div class="row">
			<div class="col-md-4">
				<div class="btn-group mb-3" role="group">
					<?php echo admin_tab_active($menu['plugin']['tab'], $action); ?>
				</div>
			</div>
			<div class="col-md-8 text-right">
				<div class="btn-group mb-3" role="group">
					<?php echo $pugin_cate_html; ?>
				</div>
			</div>

		</div>
		<div class="card">
			<div class="card-body">
				<div class="d-flex" style="flex-wrap: wrap;flex-direction: column;gap: 15px;">
					<?php foreach ($pluginlist as $dir => $plugin): ?>
						<div style="display: grid;grid-template-columns:64px 3fr 1fr;gap: 10px;border-bottom: 1px solid currentColor;padding-bottom: 10px;">
							<img src="<?= plugin::site($dir . '/icon.png') ?>" style="max-width: 64px;" />
							<div class="plugin-brief">

								<div style="display: flex;align-items: center;justify-content:space-between;gap:5px">
									<a href="<?= MyApp::purl('read/' . $dir) ?>" class="m-1"><b><?= $plugin['name'] ?></b>(v<?= $plugin['version'] ?>)</a>
									<p class="plugin-root m-1"><?= $dir ?></p>
								</div>
								<?= $plugin['brief'] ?>
							</div>
							<div style="display: flex;align-items: center;justify-content: flex-end;gap: 5px;">
								<?php if ($plugin['installed']): ?>
									<?php if (is_file(plugin::path($dir . '/setting.php'))) { ?>
										<a role="button" class="btn btn-primary btn-sm setting" href="<?= MyApp::purl('setting/' . $dir) ?>"><?php echo lang('setting'); ?></a>
									<?php } ?>
									<?php if ($plugin['enable']): ?>
										<a role="button" class="btn btn-secondary btn-sm disable" href="<?= MyApp::purl('disable/' . $dir) ?>>"><?php echo lang('disable'); ?></a>
									<?php else: ?>
										<a role="button" class="btn btn-secondary btn-sm enable" href="<?= MyApp::purl('enable/' . $dir) ?>"><?php echo lang('enable'); ?></a>
									<?php endif; ?>
									<a role="button" class="btn btn-danger btn-sm unstall confirm" data-confirm-text="<?php echo lang('plugin_unstall_confirm_tips', array('name' => $plugin['name'])); ?>" href="<?= MyApp::purl('unstall/' . $dir) ?>"><?php echo lang('unstall'); ?></a>

								<?php else: ?>
									<a role="button" class="btn btn-primary btn-sm install" href="<?= MyApp::purl('install/' . $dir) ?>"><?php echo lang('install'); ?></a>
								<?php endif ?>
							</div>
						</div>
					<?php endforeach; ?>
				</div>
			</div>
		</div>

		<?php if ($pagination) { ?> <nav>
				<ul class="pagination justify-content-center"><?php echo $pagination; ?></ul>
			</nav> <?php } ?>

	</div>

</div>

<?php include _include(ADMIN_PATH . 'view/htm/footer.inc.htm'); ?>