<!--{template(route_admin::tpl_header())}-->
<!--{hook admin_settingindex_htm_start.htm}-->
<div class="card">
	<div class="card-header">
		<h4 class="card-title"><!--{lang admin_setting_base}--></h4>
	</div>
	<div class="card-body">
		<form action="{{ url }}" method="post" onpost="true" class="d-flex flex-column">
			<!--{hook admin_settingindex_htm_form.htm}-->
			<div class="form-floating mb-3" style="order: 5;"><!--{{ \model\tpl::conf_char('sitename','required') }}--></div>
			<div class="form-floating mb-3" style="order: 10;"><!--{{ \model\tpl::conf_txt('sitebrief') }}--></div>
			<div class="form-check form-switch mb-3" style="order: 15;"><!--{{ \model\tpl::conf_check('user_create_on') }}--></div>
			<div class="form-check form-switch mb-3" style="order: 20;"><!--{{ \model\tpl::conf_check('user_create_email_on') }}--></div>
			<div class="form-check form-switch mb-3" style="order: 25;"><!--{{ \model\tpl::conf_check('user_resetpw_on') }}--></div>
			<div class="form-floating mb-3" style="order: 30;"><!--{{ \model\tpl::conf_list_num(5,'runlevel') }}--></div>
			<div class="form-floating mb-3" style="order: 35;"><!--{{ \model\tpl::conf_i18n() }}--></div>
			<div class="mb-3 text-center" style="order: 100;">
				<!--{hook admin_settingindex_htm_submit.htm}-->
				<button type="submit" class="btn btn-primary btn-block" data-loading-text="{lang submiting}..."><!--{lang confirm}--></button>
			</div>
		</form>
	</div>
</div>
<!--{hook admin_settingindex_htm_end.htm}-->
<!--{template(route_admin::tpl_footer())}-->