<!--{template(route_admin::tpl_header())}-->
<div class="card">
	<div class="card-header">
		<h4 class="card-title"><!--{lang admin_setting_time}--></h4>
	</div>
	<div class="card-body">
		<form action="{{ url }}" method="post" onpost="true" class="d-flex flex-column">
			<!--{hook admin_settingtime_form.htm}-->
			<div class="form-floating mb-3" style="order: 5;"><!--{{ \model\tpl::conf_char('timezone','required','setting_timezone') }}--></div>
			<div class="form-floating mb-3" style="order: 10;"><!--{{ \model\tpl::conf_num('online_hold_time') }}--></div>
			<div class="form-floating mb-3" style="order: 15;"><!--{{ \model\tpl::conf_num('online_update_span') }}--></div>
			<div class="mb-3 text-center" style="order: 100;">
				<!--{hook admin_settingtime_submit.htm}-->
				<button type="submit" class="btn btn-primary btn-block" data-loading-text="{lang submiting}..."><!--{lang confirm}--></button>
			</div>
		</form>
	</div>
</div>
<!--{template(route_admin::tpl_footer())}-->