<!--{template(ADMIN_PATH.'view/htm/new-header.htm')}-->
<!--{hook admin_setting_base_start.htm}-->
<div class="card">
	<div class="card-header">
		<h4 class="card-title"><!--{lang admin_setting_time}--></h4>
	</div>
	<div class="card-body">
		<form action="{{ $_SERVER['REQUEST_URI'] }}" method="post" onpost="true">
			<!--{hook admin_setting_timezone_before.htm}-->
			<div class="form-floating mb-3"><!--{{ \route_admin::input_required_text('timezone',null,'setting_timezone') }}--></div>
			<div class="form-floating mb-3"><!--{{ \route_admin::input_required_number('online_hold_time') }}--></div>
			<div class="form-floating mb-3"><!--{{ \route_admin::input_required_number('online_update_span') }}--></div>
			<!--{hook admin_setting_timezoneg_after.htm}-->
			<div class="mb-3 text-center">
				<button type="submit" class="btn btn-primary btn-block" data-loading-text="<!--{lang submiting}-->..."><!--{lang confirm}--></button>
			</div>
		</form>
	</div>
</div>
<!--{hook admin_setting_base_end.htm}-->
<!--{template(ADMIN_PATH.'view/htm/new-footer.htm')}-->
<!--{hook admin_setting_base_js.htm}-->