<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
            </files>
        </defaultDocument>
        <staticContent>
            <clientCache cacheControlMode="DisableCache" />
        </staticContent>
        <rewrite>
            <rules>
                <rule name="WEB重写" enabled="true">
                    <match url=".*" />
                    <conditions logicalGrouping="MatchAny">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{URL}" pattern="^(tmp|upload|plugin|route||log|lang|view|mode|xiunophp)\/.*\.(htm|html|php)$" />
                    </conditions>
                    <action type="Rewrite" url="index.php?{R:0}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
