<?php if(empty($db)):$db=MyDB::app();endif; ?>
<?php $ip = G('ip');?>
<?php $forumlist = G('forumlist');?>
<?php $forumarr = G('forumarr');?>
<?php $fid = G('fid');?>
<?php $conf = G('conf');?>
<?php $static_version = $conf['static_version'];?>
				
			<!--{hook footer_start.htm}-->
		
			<?php  echo xn_debug_info(); ?>
	
		</div>
	</main>
	
	<!--{hook footer_nav_before.htm}-->
	
	<!--{template(MyApp::htm_path('footer_nav.inc.htm'))}-->
	
	<!--{hook footer_nav_after.htm}-->
	
	<!--[if ltg IE 9]>
	<script>window.location = '<?php echo url('browser');?>';</script>
	<![endif]-->
	
	<!--{hook footer_js_before.htm}-->
	
	<?php $browser = get__browser();?>
	<?php if($browser['name'] == 'ie') { ?>
	<script src="https://cdn.bootcdn.net/ajax/libs/es6-shim/0.35.8/es6-shim.min.js"></script>
	<?php } ?>
	<script src="{{ \plugin::parseJS(MyApp::i18n_path('bbs.js')) }}{{ \MyApp::conf('static_version') }}"></script>
	<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
	<script src="{{ MyApp::view_site('js/xiuno.js'.MyApp::conf('static_version')) }}"></script>
	<script src="{{ MyApp::view_site('js/bootstrap-plugin.js'.MyApp::conf('static_version')) }}"></script>
	<script src="{{ MyApp::view_site('js/async.js'.MyApp::conf('static_version')) }}"></script>
	<script src="{{ MyApp::view_site('js/form.js'.MyApp::conf('static_version')) }}"></script>
	<script>
	var debug = DEBUG = <?php echo DEBUG; ?>;
	var url_rewrite_on = <?php echo $conf['url_rewrite_on'];?>;
	var forumarr = <?php echo xn_json_encode($forumarr);?>;
	var fid = <?php echo $fid;?>;
	var uid = <?php echo intval($uid);?>;
	var gid = <?php echo intval($gid);?>;
	xn.options.water_image_url = '<?php echo MyApp::view_site("img/water-small.png");?>';	// 水印图片 / watermark image
	</script>
	<script src="{{ MyApp::view_site('js/bbs.js'.MyApp::conf('static_version')) }}"></script>
	<!--{hook footer_js_after.htm}-->
	<script type="module">
		import X from "{{ MyApp::view_site('js/common.js') }}{{ MyApp::conf('static_version') }}";
		/** 额外js{if !empty($importjs)}{each $importjs $js} **/
		import "{{ $js }}";
		/** {/each}{/if} **/
		X.rewrite = "{{ MyApp::conf('url_rewrite_on') }}";
		X.webroot = "{{ APP_SITE }}";
		/* 定义资源目录地址 */
		X.viewroot = "{{ MyApp::data('site')['view'] }}";
		X.toEvent(new CustomEvent('ready'));
	</script>
</body>
<!--{hook footer_body_after.htm}-->
</html>
<!--{hook footer_end.htm}-->

<?=\model\runtime::cron()?>