<!--{template(route_admin::tpl_header())}-->
<!--{hook admin_index_login_start.htm}-->
<div class="row">
	<div class="col-lg-5 mx-auto">
		<div class="card">
			<div class="card-header">
				<h4 class="card-title"><!--{lang admin_login}--></h4>
			</div>
			<div class="card-body">
				<form action="{{ url }}" method="post" id="form" onpost="userlogin">
					<label for="password" class="form-label"><!--{lang for_safe_input_password_again}--></label>
					<div class="input-group mb-3">
						<span class="input-group-text"><i class="icon-lock"></i></span>
						<input id="password" type="password" class="form-control" placeholder="{lang password}" id="password" name="password" required>
					</div>
					<div class="form-group text-right">
						<button type="submit" class="btn btn-primary btn-block" id="submit" data-loading-text="{lang submiting}..."><!--{lang login}--></button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<!--{hook admin_index_login_end.htm}-->
<!--{template(route_admin::tpl_footer())}-->
<!--{hook admin_index_login_js.htm}-->