<!--{template header}-->
<main id="forum-body">
<!--{eval $fids = intval($router_value);}-->
<!--{if !empty($myapp['forumlist'][$router_value])&&in_array($router_value,$myapp->allowforum())}-->
<div class="index-box">
    <div class="box-header np">
        <ul class="box-title forum-title">
			<li{if empty($_GET['type'])} class="active"{/if}><a class="icon-forum" href="{url 'forum-'.$fids}">最新</a></li>
			<li{if $myapp->GET('type') == '1'} class="active"{/if}><a class="icon-forum" href="{url 'forum-'.$fids type=1}">精华</a></li>
			<li{if $myapp->GET('type') == '2'} class="active"{/if}><a class="icon-forum" href="{url 'forum-'.$fids type=2}">新帖</a></li>
		</ul>
    </div>
    <div class="box-body">
		<!--{if $myapp->GET('type') == '1'}-->
			<!--{template index/digest}-->
		<!--{elseif $myapp->GET('type') == '2'}-->
			<!--{template index/newthread}-->
		<!--{else}-->
			<!--{template index/lastthread}-->
		<!--{/if}-->
    </div>
</div>
<!--{else}-->
<div class="index-box">
    <div class="box-header np">
        <div class="box-title forum-title">
			提示
		</div>
    </div>
    <div class="box-body">
		板块不存在,或者你所在用户组无权访问
	</div>
</div>
<!--{/if}-->
</main>
<!--{template footer}-->