<!--{template "header"}-->
<main id="index-body">
	<!--{subtemplate index/online}-->
	<div class="index-box">
    <div class="box-header np">
        <ul class="box-title forum-title">
			<li{if empty($_GET['type'])} class="active"{/if}><a class="icon-forum" href="{url index}">最新</a></li>
			<li{if $myapp->GET('type') == '1'} class="active"{/if}><a class="icon-forum" href="{url index type=1}">精华</a></li>
			<li{if $myapp->GET('type') == '2'} class="active"{/if}><a class="icon-forum" href="{url index type=2}">新帖</a></li>
			<li{if $myapp->GET('type') == '3'} class="active"{/if}><a class="icon-forum" href="{url index type=3}">板块</a></li>
		</ul>
    </div>
    <div class="box-body">
		<!--{if $myapp->GET('type') == '1'}-->
			<!--{template index/jinghua}-->
		<!--{elseif $myapp->GET('type') == '2'}-->
			<!--{template index/newthread}-->
		<!--{elseif $myapp->GET('type') == '3'}-->
			<!--{template index/forumlist}-->
		<!--{else}-->
			<!--{template index/lastthread}-->
		<!--{/if}-->
    </div>
</div>
</main>
<!--{template footer}-->