<!--{if isset($_GET['in_ajax'])}-->
<!--{if $myapp->GET('type') == '1'}--><!--{template forum/digest}-->
<!--{elseif $myapp->GET('type') == '2'}--><!--{template forum/newthread}-->
<!--{elseif $myapp->GET('type') == '3'}--><!--{template forum/forumlist}-->
<!--{else}--><!--{template forum/lastthread}--><!--{/if}-->
<!--{eval $mypp->exit();}-->
<!--{/if}-->
<!--{template header}-->
<main id="index-body">
	<!--{subtemplate forum/online}-->
	<div class="index-box">
    <div class="box-header np">
        <ul class="box-title forum-list-title">
			<li{if empty($_GET['type'])} class="active"{/if}><a class="icon-forum" href="{url index}">最新</a></li>
			<li{if $myapp->GET('type') == '1'} class="active"{/if}><a class="icon-forum" href="{url index type=1}">精华</a></li>
			<li{if $myapp->GET('type') == '2'} class="active"{/if}><a class="icon-forum" href="{url index type=2}">新帖</a></li>
			<li{if $myapp->GET('type') == '3'} class="active"{/if}><a class="icon-forum" href="{url index type=3}">板块</a></li>
		</ul>
    </div>
    <div class="box-body">
		<!--{eval $thread_time = $router_value;}-->
		<!--{if $myapp->GET('type') == '1'}-->
			<!--{template forum/digest}-->
		<!--{elseif $myapp->GET('type') == '2'}-->
			<!--{template forum/newthread}-->
		<!--{elseif $myapp->GET('type') == '3'}-->
			<!--{template forum/forumlist}-->
		<!--{else}-->
			<!--{template forum/lastthread}-->
		<!--{/if}-->
    </div>
</div>
</main>
<!--{template footer}-->