<!--{if $myapp['uid']}-->
<div class="fastpost-box" id="fast-post-div">
    <div class="box-body">
        <div class="fastpost-pid">
            <div>
                <span>正在回复</span>
                <b id="fastpost-name">玛丽苏</b>
            </div>
            <button id="fastpost-back">取消回复</button>
        </div>
        <div class="fastpost-title">
            <b>回复</b>
            <span id="fastpost-floor"><!--{echo $thread['posts']+1}-->楼</span>
        </div>
        <form action="{$_SERVER['REQUEST_URI']}" method="post" class="fastpost-form">
            <input type="hidden" name="doctype" value="1">
            <input type="hidden" name="quotepid" value="0">
            <input type="hidden" name="attachid" value="">
            <textarea class="fastpost-textarea" name="message" placeholder="你要回复点什么"></textarea>
        </form>
    </div>
</div>
<!--{eval $myapp->data['footerjs'][] = $myapp['site']['js'].'common_tinymce.js';}-->
<!--{/if}-->