<!--{if $myapp['uid']}-->
<div class="fastpost-box">
    <div class="box-body">
        <div class="fastpost-pid">
            <div>
                <span>正在回复</span>
                <b>玛丽苏</b>
            </div>
            <button>取消回复</button>
        </div>
        <div class="fastpost-title">
            <b>回复</b>
            <span><!--{echo $thread['posts']+1}-->楼</span>
        </div>
        <form action="{$_SERVER['REQUEST_URI']}" method="post" class="fastpost-form">
            <input type="hidden" name="doctype" value="1">
            <input type="hidden" name="pid" value="0">
            <div class="fastpost-user">
                <img src="{avatar $myapp['uid']}" height="48">
                <p><!--{$myapp['user']['username']}--></p>
            </div>
            <textarea class="fastpost-input" placeholder="你要回复点什么"></textarea>
        </form>
    </div>
</div>
<!--{/if}-->