$box-color-bg:#fff !default;
$box-color-font:#454d55 !default;
$box-color-link:#343a40 !default;
$box-color-border:#dee2e6 !default;
$box-gradient:linear-gradient(0deg, #e9ecef, #f8f9fa) !default;

$link-font-size:.875rem !default;
$link-color:#343a40 !default;
$link-highlight:#127feb !default;
@mixin  flex-nowarp {
    display: flex;
    flex-wrap: nowrap;
}@mixin  flex-warp {
    display: flex;
    flex-wrap: wrap;
}
@mixin  flex-center {
    @include flex-nowarp();
    align-items: center;
}
@mixin  flex-lr-center {
    @include flex-center();
    justify-content: space-between;
}
@mixin  flex-lr-top {
    @include flex-nowarp();
    align-items: flex-start;
    justify-content: space-between;
}
@mixin  flex-l-center {
    @include flex-center();
    justify-content:flex-start;
}
@mixin  flex-r-center {
    @include flex-center();
    justify-content:flex-end;
}
@mixin flex-column {
    @include flex-nowarp();
    flex-direction:column;
}
@mixin flex-column-lr {
    @include flex-nowarp();
    flex-direction:column;
    align-items: stretch;
    justify-content: flex-start;
}

@mixin  flex-full {
    display: flex;
    align-items: stretch;;
}
@mixin font-text($flex:'',$font:'') {
    @if not $font or $font== '' {
        $font: 'bootstrap';
    }
    font-family: $font;
}
@mixin bootstrap-v4 {
    display: inline-block;
    line-height: 1;
    vertical-align: -.125em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
@mixin bootstrap-before($flex:'') {
    @if $flex == 'true' {
        @include flex-l-center;
    }@else{
        &::before{
            @include bootstrap-v4;
        }
    }
    &::before {
        display: inline-block;
        margin-right: 2px;
        @include font-text('bootstrap');
        @content;
    }
}
@mixin bootstrap-after($flex:'') {
    @if $flex == 'true' {
        @include flex-l-center;
    }@else{
        &::after{
            @include bootstrap-v4;
        }
    }
    &::before {
        display: inline-block;
        margin-left: 2px;
        @include font-text('bootstrap');
        @content;
    }
}
@mixin basebox {
    @include flex-column-lr;
    border: none;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.08) !important;
    min-width: 0;
    word-wrap: break-word;
    color: $box-color-font;
    a{
        color: $box-color-link;
        text-decoration: none
    }
    img{
        max-width: 100%;
    }
    >.box-header {
        @include flex-lr-center;
        margin-bottom: 0;
        border: 1px solid $box-color-border;
        border-radius: 0.25rem 0.25rem 0 0;
        background-image:$box-gradient;
        &:not([class~='np']){
            padding: 0.75rem 1.25rem;
        }
        & ~ .box-body {
            border-top: none;
        }
    }
    >.box-body {
        border: 1px solid #dee2e6;
        background-color:$box-color-bg;
        flex: 1 1 auto;
        min-height: 1px;
    }
}
@mixin  nobgbr {
    border: none;
    outline: none;
    background-color: transparent;
}
@mixin ul-list-one {
    padding: 0 1rem;
    margin: 0px;
    font-size:$link-font-size;
    a{
        color: $link-color;
        &:hover{
            color: $link-highlight;;
        }
    }
    li{
        counter-increment: listCounter;
        padding: .5rem 0px .5rem .25rem;
        &::marker{
            content: counter(listCounter);
            color: #888;
        }
        &:nth-child(-n+3)::marker{
            color: #fd1a1a;
            font-weight: bold;
        }
        &:not(:last-child){
            border-bottom: 1px dashed $box-color-border;

        }
    }

}