<!--{template(ADMIN_PATH.'view/htm/new-header.htm')}-->
<form action="{{ MyApp::value('url') }}" method="post" onmethods="loadmodule" module-url="{{ \route_admin::site('view/js/module/thread.js') }}">
	<!--{hook admin_thread_list_htm_start.htm}-->
	<details id="thread-search-details" class="card" {{ $maxlength>0?'close':'open' }}>
		<summary class="card-header"><!--{lang search_condition}--></summary>
		<div class="card-body row">
			<div class="col-md-6">
				<div class="form-floating mb-3">
					<select class="form-control" name="fid" id="fid">
						<option value="0"><!--{lang none}--></option>
						<!--{each $forumlist $forum}-->
						<option value="{{ $forum['fid'] }}"><!--{{  $forum['name'] }}--></option>
						<!--{/each}-->
					</select>
					<label for="fid"><!--{lang forum}-->：</label>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-floating mb-3"><!--{{ \route_admin::input_text('keyword',MyApp::post('keyword'),'keyword') }}--></div>
			</div>
			<div class="col-md-6">
				<div class="form-floating mb-3"><!--{{ \route_admin::input_date_text('create_date_start',MyApp::post('create_date_start'),'start_date',' max="'.date('Y-m-d').'"') }}--></div>
			</div>
			<div class="col-md-6">
				<div class="form-floating mb-3"><!--{{ \route_admin::input_date_text('create_date_end',MyApp::post('create_date_end',date('Y-m-d',mktime(24,0,0,))),'end_date',' max="'.date('Y-m-d',mktime(24,0,0,)).'"') }}--></div>
			</div>
			<div class="col-md-6">
				<div class="form-floating mb-3"><!--{{ \route_admin::input_text('userip',MyApp::post('userip'),'thread_userip') }}--></div>
			</div>
			<div class="col-md-6">
				<div class="form-floating mb-3"><!--{{ \route_admin::input_text('uid',MyApp::post('uid'),'uid') }}--></div>
			</div>
			<div class="col-md-6">
				<button type="submit" id="search" class="btn btn-primary" data-loading-text="<!--{lang searching}-->... "><!--{lang search}--></button>
			</div>
			<!--{hook admin_thread_list_search_end.htm}-->
		</div>
	</details>
	<details id="data-details" class="card" {{ $maxlength>0?'open':'close' }}>
		<summary class="card-header"><!--{{ \lang('thread_search_result', array('n' => '<b id="threads-length">0</b>')) }}--></summary>
		<div class="card-body">
			<nav aria-label="Page navigation example" class="mb-3">
				<ul id="page-list" class="pagination gap-2">
				</ul>
				<nav class="pagination gap-2">
					<!--{hook admin_thread_list_action_start.htm}-->
					<button type="button" class="btn btn-outline-teal" data-type="check"><!--{lang checkall}--></button>
					<button type="button" class="btn btn-outline-danger" data-type="delete">删除主题</button>
					<button type="button" class="btn btn-outline-teal" data-type="closed">关闭主题</button>
					<button type="button" class="btn btn-outline-teal" data-type="open">打开主题</button>
					<button type="button" class="btn btn-outline-danger" data-type="block">封禁主题</button>
					<button type="button" class="btn btn-outline-danger" data-type="unblock">解禁主题</button>
					<!--{hook admin_thread_list_action_end.htm}-->
				</nav>
			</nav>
			<div id="delete-result"></div>
			<div id="data-list"></div>
		</div>
	</details>
	<!--{hook admin_thread_list_htm_end.htm}-->
</form>
<script type="text/template" id="thread-list-item">
	<div id="tid-{tid}" class="form-check form-switch mb-3">
		<input class="form-check-input" type="checkbox" id="input-{tid}" value="{tid}">
		<!--{hook admin_thread_list_item_start.htm}-->
		<i class="thread-icon-lock mdi mdi-database-lock-outline" {closed_hidden}></i>
		<i class="thread-icon-delete mdi mdi-delete-clock" {deleted_hidden}></i>
		<a class="fs-6" href="{url}">{subject}</a>
		<!--{hook admin_thread_list_item_end.htm}-->
	</div>
</script>
<script type="text/template" id="thread-list-page">
	<!--{hook admin_thread_list_page_start.htm}-->
	<li class="page-item {active}">
		<a id="page-{page}" class="btn-outline-pink page-link" href="#">{page}</a>
	</li>
	<!--{hook admin_thread_list_page_end.htm}-->
</script>
<!--{template(ADMIN_PATH.'view/htm/new-footer.htm')}-->