<?xml version="1.0" encoding="UTF-8"?>
<configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="web.xsd">
    <system.webServer>
        <rewrite>
            <rules>
                <clear/>
                <rule name="admin重写" stopProcessing="true">
                    <match url=".*" />
                    <conditions logicalGrouping="MatchAny">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{SCRIPT_FILENAME}" pattern="(?!index\.php).*\.php$" />
                    </conditions>
                    <action type="Rewrite" url="index.php?{R:0}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>