<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="重写">
                    <match url=".*" />
                    <conditions logicalGrouping="MatchAny">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{SCRIPT_FILENAME}" pattern="(?!index\.php).*\.php$" />
                    </conditions>
                    <action type="Rewrite" url="index.php?{R:0}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
