<?xml version="1.0" encoding="UTF-8"?>
<configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="web.xsd">
    <system.webServer>
        <rewrite>
            <rules>
                <clear />
            </rules>
        </rewrite>
    </system.webServer>
</configuration>