#index-body {
    padding: 1rem max(#{space_width_half($max-width)}, 5px);
}
.index-box {
    @include basebox;
    a {
        text-decoration: none;
    }
    .box-title {
        color: #454d55;
        font-size: 14px;
    }
    .icon-online {
        @include bootstrap-before() {
            content: '\f4cf';
            font-weight: 900;
        }
    }
    .icon-forum {
        @include bootstrap-before() {
            content: '\f459';
            font-weight: 900;
        }
    }
    .icon-sign {
        background: #0084ff;
        border: 1px solid #007bff;
        color: #fff;
        padding: 2px 5px;
        display: block;
        font-size: 12px;
        border-radius: 0.25rem;
        @include bootstrap-before() {
            content: '\f1e2';
        }
    }
    .index-online-list {
        @include flex-l-center;
        align-items: flex-start;
        list-style: none;
        padding: 0.5rem;
        margin: 0px;
        font-size: 0.675rem;
        text-align: center;
        li {
            width: 120px;
        }
        p {
            margin: 0px;
            padding: 2px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
    .forum-title {
        @include flex-l-center;
        list-style: none;
        padding: 0rem;
        margin: 0px;
        li {
            padding: 0.5rem 1rem;
            margin-bottom: -1px;
            background-color: transparent;
            border: 1px solid transparent;
            border-top-left-radius: 0.25rem;
            border-top-right-radius: 0.25rem;
            a {
                color: #343a40;
            }
            &:hover {
                a {
                    color: #0084ff;
                }
            }
            &.active {
                a {
                    font-weight: bold;
                }
                &::after {
                    content: '';
                    display: block;
                    margin: auto;
                    height: 4px;
                    line-height: 14px;
                    background-color: #007bff;
                    margin-bottom: -10px;
                    margin-top: 6px;
                }
            }
        }
    }
    .thread-list {
        list-style: none;
        padding: 0.25rem 0.8rem;
        margin: 0px;
        font-size: 0.875rem;
        a {
            color: #343a40;
            &:hover {
                color: #007bff;
            }
        }
    }
    .thread-item {
        @include flex-l-center;
        border-bottom: 1px solid #e9ecef;
        padding: 0.7rem 0;
        &:last-child {
            border-bottom: none;
        }
    }
    .thread-top {
        @include bootstrap-before {
            width: 33px;
            height: 33px;
            content: '\f146';
            text-align: center;
            font-size: 1.5rem;
            vertical-align: baseline;
            line-height: 1.5;
        }
    }
    .thread-left {
        text-align: center;
        padding: 0.5rem;
    }
    .thread-subject {
        color: #343a40;
    }
    .forum-list {
        list-style: none;
        margin: 0px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-items: stretch;
        justify-content: start;
        padding: 1rem;
        column-gap: 0.25rem;
        row-gap: 0.25rem;
    }
    .forum-item {
        @include flex-full;
        width: 100%;
    }
    .forum-div {
        flex-grow: 1;
        @include flex-column-lr;
        border-radius: .25rem;
        border: 1px solid #f5f5f5;
        padding: 0.25rem 0.8rem;
    }
    .forum-info {
        @include flex-l-center;
        flex-grow: 1;
        padding-bottom: .35rem;
        border-bottom: 1px solid #0000001a;
    }
    .forum-meta {
        flex-grow: 1;
        @include flex-column-lr;
    }
    .forum-header {
        padding: 0px;
        margin: 0px;
        font-size: 1.25rem;
        height: 30px;
        a{
            
        color: #343a40;
        }
    }
    .forum-brief{
        flex-grow: 1;
        font-size: .6rem;
        color:#868e96;
        p{
            margin: 0px 1px;
            &:first-child{
                color: #6c757d;
            }
        }
        
    }
    .forum-mod {
        @include flex-lr-center;
        font-size: 0.675rem;
        height: 40px;
    }
}
#forum-body {
    padding: 1rem max(#{space_width_half($max-width)}, 5px);
}
.forum-box{
    @include basebox;
}

#thread-body {
    padding: 1rem max(#{space_width_half($max-width)}, 5px);
}