#forum-body {
    padding: 1rem max(#{space_width_half($max-width)}, 5px);
}
.forum-box {
    @include basebox;
}
.forum-list-title {
    @include flex-l-center;
    list-style: none;
    padding: 0rem;
    margin: 0px;
    li {
        padding: 0.5rem 1rem;
        margin-bottom: -1px;
        background-color: transparent;
        border: 1px solid transparent;
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
        a {
            color: #343a40;
        }
        &:hover {
            a {
                color: #0084ff;
            }
        }
        &.active {
            a {
                font-weight: bold;
            }
            &::after {
                content: '';
                display: block;
                margin: auto;
                height: 4px;
                line-height: 14px;
                background-color: #007bff;
                margin-bottom: -10px;
                margin-top: 6px;
            }
        }
    }
}
.forum-thread-list {
    list-style: none;
    padding: 0.25rem 0.8rem;
    margin: 0px;
    font-size: 0.875rem;
    a {
        color: #343a40;
        &:hover {
            color: #007bff;
        }
    }
}
.forum-thread-item {
    @include flex-l-center;
    border-bottom: 1px solid #e9ecef;
    padding: 0.7rem 0;
    &:last-child {
        border-bottom: none;
    }
}
.forum-thread-top {
    @include bootstrap-before {
        width: 33px;
        height: 33px;
        content: '\f146';
        text-align: center;
        font-size: 1.5rem;
        vertical-align: baseline;
        line-height: 1.5;
    }
}
.forum-thread-left {
    text-align: center;
    padding: 0.5rem;
}
.forum-thread-subject {
    color: #343a40;
}
.forum-all-list {
    list-style: none;
    margin: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: stretch;
    justify-content: start;
    padding: 1rem;
    column-gap: 0.25rem;
    row-gap: 0.25rem;
}
.forum-all-item {
    @include flex-full;
    width: 100%;
}
.forum-all-content {
    flex-grow: 1;
    @include flex-column-lr;
    border-radius: 0.25rem;
    border: 1px solid #f5f5f5;
    padding: 0.25rem 0.8rem;
}
.forum-all-info {
    @include flex-l-center;
    flex-grow: 1;
    padding-bottom: 0.35rem;
    border-bottom: 1px solid #0000001a;
}
.forum-all-meta {
    flex-grow: 1;
    @include flex-column-lr;
}
.forum-all-header {
    padding: 0px;
    margin: 0px;
    font-size: 1.25rem;
    height: 30px;
    a {
        color: #343a40;
    }
}
.forum-all-brief {
    flex-grow: 1;
    font-size: 0.6rem;
    color: #868e96;
    p {
        margin: 0px 1px;
        &:first-child {
            color: #6c757d;
        }
    }
}
.forum-all-mod {
    @include flex-lr-center;
    font-size: 0.675rem;
    height: 40px;
}