<!--{if empty($_SERVER['HTTP_AJAX_FETCH'])}--><!--{template('forum/header')}--><!--{/if}-->

			<ol class="breadcrumb d-none d-md-flex">
				<li class="breadcrumb-item"><a href="{{ url('index') }}" aria-label="{lang index_page}"><i class="icon-home"></i></a></li>
				<li class="breadcrumb-item"><a href="{{ url('forum') }}">{lang forum_nav}</a></li><!--{if !empty($forum)}-->

				<li class="breadcrumb-item"><a href="{{ url($forumindex) }}">{{ $forum['name'] }}</a></li><!--{/if}--><!--{if !empty($thread)}-->

				<li class="breadcrumb-item active"><a href="{{ url($threadindex) }}">{{ $thread['subject'] }}</a></li><!--{/if}--><!--{hook thread_breadcrumb.htm}-->

			</ol>
			<div class="jumbotron">
				<h1 class="display-4">{{ errortitle }}</h1><!--{if is_string($myapp['errormessage'])}-->

				<p class="lead">{{ errormessage }}</p><!--{else}-->
				<!--{/if}-->
				<hr class="my-4">
				<a class="btn btn-primary btn-lg" href="{if !empty($threadindex)}{{ $threadindex }}{else}{{ url('forum') }}{/if}" role="button">{lang thread_go_back}</a>
			</div><!--{if empty($_SERVER['HTTP_AJAX_FETCH'])}--><!--{template('forum/footer')}--><!--{/if}-->