<!--{template('forum/header')}-->
<ol class="breadcrumb d-none d-md-flex">
	<li class="breadcrumb-item"><a href="{{ url('index') }}" aria-label="{lang index_page}"><i class="icon-home"></i></a></li>
	<li class="breadcrumb-item"><a href="{{ url('forum') }}">{lang forum_nav}</a></li><!--{if !empty($forum)}-->

	<li class="breadcrumb-item"><a href="{{ url($forumindex) }}">{{ $forum['name'] }}</a></li><!--{/if}--><!--{if !empty($thread)}-->

	<li class="breadcrumb-item{if empty($myapp['breadcrumb'])} active{/if}"><a href="{{ url($threadindex) }}">{{ mb_substr($thread['subject'],0,10) }}</a></li><!--{/if}--><!--{if !empty($myapp['breadcrumb'])}-->
	
	<li class="breadcrumb-item active"><a href="{{ $myapp['breadcrumb']['href'] }}">{{ $myapp['breadcrumb']['name'] }}</a></li><!--{/if}-->
</ol>
<div class="jumbotron">
	<h1 class="display-4">{{ msgtitle }}</h1>
	<div class="lead"><!--{if !empty($myapp['msgext'])}--><!--{if empty($myapp['user'])}-->
		<p class="alert alert-danger">{lang member_required_login}</p><!--{else}--><!--{loop $myapp['msgext'] $key $value}-->

		<p class="alert {if $value>$myapp['user'][$key]}alert-succes{else}{/if}">{{ \getExtName($key) }}{lang member_required_ext}:{{ $value }}<br>{lang member_have_ext}:{{ user.$key }}</p><!--{/loop}--><!--{/if}--><!--{/if}--><!--{if !empty($myapp['msgcontent'])}-->

		{{ msgcontent }}<!--{/if}-->

	</div>
	<hr class="my-4">
	<a class="btn btn-primary btn-lg" href="{if !empty($threadindex)}{{ $threadindex }}{else}{{ url('forum') }}{/if}" role="button">{lang thread_go_back}</a>
</div><!--{template('forum/footer')}-->