<!--{template(ADMIN_PATH.'view/htm/new-header.htm')}-->
<form action="{{ MyApp::value('url') }}" method="post" class="mb-3" onget="eventsourcemessage" data-scroll="#end-{{ $_SERVER['REQUEST_TIME'] }}">
	<div class="card">
		<div class="card-header">
			<h4 class="card-title"><!--{lang admin_forum_delete}-->:<!--{{ $_forum['name'] }}--></h4>
		</div>
		<div class="card-body">
			<input type="hidden" name="yes" value="1">
			<div class="alert alert-danger" role="alert"><!--{lang admin_forum_delete_message}--></div>
			<div class="text-center">
				<button type="submit" name="yes" class="btn btn-primary" id="submit" data-loading-text="<!--{lang submiting}-->..."><!--{lang confirm}--></button>
			</div>
		</div>
	</div>
</form>
<div class="mb-3" id="end-{{ $_SERVER['REQUEST_TIME'] }}"></div>
<!--{template(ADMIN_PATH.'view/htm/new-footer.htm')}-->