<!--{template(ADMIN_PATH.'view/htm/new-header.htm')}-->
<form action="{{ url }}" method="post" onpost="true" {{ \route_admin::js_module('forum-update') }}>
	<div class="card">
		<div class="card-header">
			<h4 class="card-title">{lang admin_forum_edit}:<?= $_forum['name'] ?></h4>
		</div>
		<div class="card-body" class="d-flex flex-column">
			<!--{hook admin_forumupdate_htm_form.htm}-->
			<div class="form-floating mb-3" style="order: 5;"><!--{{ \model\tpl::char('name',$_forum['name'],MyApp::Lang('forum_name')) }}--></div>
			<div class="mb-3" style="order: 10;">
				<div data-edit="tinymce" class="form-check form-switch mb-3"><!--{{ \model\tpl::checkbox('',0,MyApp::Lang('brief_edit')) }}--></div>
				<div name="brief"><!--{{ $_forum['brief'] }}--></div>
			</div>
			<div class="mb-3" style="order: 15;">
				<div data-edit="tinymce" class="form-check form-switch mb-3"><!--{{ \model\tpl::checkbox('',0,MyApp::Lang('announcement_edit')) }}--></div>
				<div name="announcement"><!--{{ $_forum['announcement'] }}--></div>
			</div>
			<div class="form-floating mb-3" style="order: 20;">
				<!--{{ \model\tpl::char('modnames',$_forum['modnames'],MyApp::Lang('moderator')) }}-->
				<p class="small text-muted mt-2" id="modnames"><!--{lang forum_moduid_format_tips}--></p>
			</div>
			<div class="form-check form-switch mb-3" style="order: 25;"><!--{{ \model\tpl::checkbox('accesson',$_forum['accesson'],MyApp::Lang('user_privilege')) }}--></div>
			<div class="mb-3 text-center" style="order: 100;">
				<!--{hook admin_forumupdate_htm_submit.htm}-->
				<button type="submit" class="btn btn-primary" id="submit" data-loading-text="<!--{lang submiting}-->..."><!--{lang confirm}--></button>
				<a role="button" class="btn btn-secondary" href="{{ MyApp::purl('index') }}"><!--{lang back}--></a>
			</div>
		</div>
	</div>
	<div id="accesslist" class="card mb-3" {{ $_forum['accesson']?'':'hidden' }}>
		<div class="card-header">
			<h4 class="card-title">{lang user_privilege}</h4>
		</div>
		<div class="card-body">
			<table class="table  text-small" style="min-width: 700px;">
				<thead>
					<tr align="center">
						<td width="60"><!--{lang checkall}--></td>
						<td align="left"><!--{lang user_group}--></td>
						<td width="80"><!--{lang allow_view}--></td>
						<td width="60"><!--{lang allow_thread}--></td>
						<td width="60"><!--{lang allow_post}--></td>
						<td width="60"><!--{lang allow_upload}--></td>
						<td width="60"><!--{lang allow_download}--></td>
					</tr>
					<thead>
					<tbody>
						<!--{each $accesslist $access}-->
						<tr align="center">
							<td>
								<div class="custom-input form-check form-switch"><!--{{ \model\tpl::checkbox() }}--></div>
								<input type="hidden" name="gid[{{ $access['gid'] }}]" value="{{ $access['gid'] }}">
							<td align="left"><?php echo $access['name']; ?></td>
							<!--{each $access $a $b}-->
							<!--{if in_array($a,['allowread','allowthread','allowpost','allowattach','allowdown'])}-->
							<td>
								<div class="form-check form-switch"><!--{{ \model\tpl::checkbox($a.'['.$access['gid'].']',$access[$a]) }}--></div>
							</td>
							<!--{/if}-->
							<!--{/each}-->
						</tr>
						<!--{/each}-->
					</tbody>
			</table>
		</div>
	</div>
</form>
<!--{template(ADMIN_PATH.'view/htm/new-footer.htm')}-->