<!--{template(ADMIN_PATH.'view/htm/new-header.htm')}-->

<!--{hook admin_user_list_start.htm}-->

<form action="{{ MyApp::value('url') }}" method="post">
	<details class="card" {{ $size>0?'close':'open' }}>
		<summary class="card-header"><!--{lang search_condition}--></summary>
		<div class="card-body">
			<div class="form-floating mb-3"><!--{{ \route_admin::input_required_text('username',MyApp::post('username'),'username','') }}--></div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-floating mb-3"><!--{{ \route_admin::input_required_text('create_ip',MyApp::post('create_ip'),'create_ip','') }}--></div>
				</div>
				<div class="col-md-6">
					<div class="form-floating mb-3"><!--{{ \route_admin::input_email('email',MyApp::post('email'),'email','') }}--></div>
				</div>
				<div class="col-md-6">
					<div class="form-floating mb-3"><!--{{ \route_admin::input_required_number('uid',MyApp::post('uid'),'uid','') }}--></div>
				</div>
				<div class="col-md-6">
					<div class="form-floating mb-3"><!--{{ \route_admin::input_select_list('gid',array_column($grouplist,'name','gid'),MyApp::post('gid'),'user_group','') }}--></div>
				</div>
			</div>
			<div class="mb-3">
				<button type="submit" class=" btn btn-primary"><!--{lang search}--></button>
			</div>
		</div>
	</details>
	<!--{if !empty($userlist)}-->
	<details class="card" open>
		<summary class="card-header"><!--{lang search_condition}--></summary>
		<div class="card-body">
			<nav aria-label="Page navigation example" class="mb-3">
				<ul class="pagination gap-2">
					<!--{hook admin_thread_list_page_start.htm}-->
					<!--{each $pagination $pagenum}-->
					<li class="page-item">
						<!--{if $pagenum == $page}-->
						<a class="btn-outline-pink page-link" href="#">
							<!--{if $pagenum==1}-->
							<!--{lang page_index}-->
							<!--{elseif $pagenum==$maxpage}-->
							<!--{lang page_last}-->
							<!--{else}-->
							<!--{{ $pagenum }}-->
							<!--{/if}-->
						</a>
						<!--{else}-->
						<input type="submit" class="page-link" name="page" value="{{ $pagenum }}">
						<!--{/if}-->
					</li>
					<!--{/each}-->
					<!--{hook admin_thread_list_page_end.htm}-->
				</ul>
				<nav class="nav gap-2">
					<!--{hook admin_user_list_action_start.htm}-->
					<button type="button" class="btn btn-outline-teal" onmethods="checkall" data-match="[name^=tids]"><!--{lang checkall}--></button>
					<button type="button" class="btn btn-outline-danger" onmethods="adimin_thread_delete" data-match="[name^=tids]" data-url="{{ MyApp::purl('delete') }}">封禁</button>
					<button type="button" class="btn btn-outline-teal" onpost="adimin_thread_lock" data-type="closed" data-match="[name^=tids]" data-url="{{ MyApp::purl('closed') }}">仅删除</button>
					<button type="button" class="btn btn-outline-teal" onpost="adimin_thread_lock" data-type="open" data-match="[name^=tids]" data-url="{{ MyApp::purl('open') }}">彻底删除</button>
					<!--{hook admin_user_list_action_end.htm}-->
				</nav>
			</nav>
			<div class="table-responsive">
				<table class="table" style="min-width: 800px">
					<thead>
						<tr>
							<th width="60" class="text-center"><!--{lang delete}--></th>
							<th width="50">ID：</th>
							<!--{hook admin_user_list_id_th_after.htm}-->
							<th width="150"><!--{lang email}--></th>
							<th width="150"><!--{lang username}--></th>
							<th width="100"><!--{lang user_group}--></th>
							<th width="100"><!--{lang create_date}--></th>
							<th width="100"><!--{lang create_ip}--></th>
							<th width="60"><!--{lang operation}--></th>
						</tr>
					</thead>
					<tbody id="userlist">
						<!--{each $userlist $_user}-->
						<tr uid="{{ $_user['uid'] }}">
							<td class="text-center"><input type="checkbox" name="delete" /></td>
							<td><!--{{ $_user['uid'] }}--></td>
							<!--{hook admin_user_list_id_td_after.htm}-->
							<td><!--{{ $_user['email'] }}--></td>
							<td><!--{{ $_user['username'] }}--></td>
							<td><!--{{ $grouplist[$_user['gid']]['name'] }}--></td>
							<td><!--{{ \date('Y-d-m',$_user['create_date']) }}--></td>
							<td><!--{{ \long2ip($_user['create_ip']) }}--></td>
							<td><a href="<?php echo url("user-update-$_user[uid]"); ?>"><!--{lang edit}--></a></td>
						</tr>
						<!--{/each}-->
					</tbody>
				</table>
			</div>
		</div>
	</details>
	<!--{/if}-->
</form>
<!--{hook admin_user_list_end.htm}-->
<!--{template(ADMIN_PATH.'view/htm/new-footer.htm')}-->
<!--{hook admin_user_list_js.htm}-->